{% extends "recipe/base.html" %}
{% block main %}
  <h1><em> Recipes by {{ view.kwargs.usr_name }} ({{ page_obj.paginator.count }})</em></h1>
  <div class="recipe-cards">
    {% for record in Recipe %}
        <div class="gallery">
          <a target="_blank" href="{% url 'recipe-detail' record.Recipe_id %}">
            <img src="{{ record.img.url }}">
          </a>
          <div class="desc">{{record.Recipe_name}}<br></div>
        </div>
    {% endfor %}

  </div>
    <div class="paginate">
      {% if is_paginated %}

        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number}}" id="left"><button id="paginate-button">Previous</button></a>
        {% endif %}

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number}}" id="right"><button id="paginate-button">Next</button></a>
        {% endif %}

      {% endif %}
    </div>

{% endblock main %}